.Header{
    &__container{
        background: url('../img/pizza-streat.jpg') no-repeat center center/cover;
        background-attachment: fixed;  
        max-width: 100vw;
        height: 35rem;;
        
    }
}