@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  box-sizing: border-box;
  scroll-behavior: smooth;
  @media only screen and (min-width: $bp-largest){
    font-size: 70%;
  }
  @media only screen and (max-width: $bp-tab-ls){
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-phone-lr){
    font-size: 37.5%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-color: $color-grey-light-1;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//Headers base font
h1{
  font-family:'Sofia', cursive;
  font-size: 6rem;
  line-height: 7rem;
}

h2{
  font-family: 'Pacifico', cursive;
  color: $color-grey-dark-2;
  letter-spacing: 1.6px;
  font-size: 4rem;
  color: $light-red;
}


p{
  font-size: 1.8rem;
}

button{
  background-color: none;
  
    display: block;
    margin: auto;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem 4rem;
    color: $light-red;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid $light-red;
    border-radius: 10%;
    font-weight: 500;
    transition: .5s;
    outline: none;
    
    &:hover{
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       background-color: $light-red;
       color: white;
    }
    &:active{
        transform: scale(.98);
    }
}

a{
  color: $dark-blue;
  //margin-top: 1rem;
  font-size: $m-size;
  display: block;
  font-weight: 500;
  &:hover{
      color: #22c0c3e7;
  }
}
