@import './variables.scss';

.App{
    display: grid;
    grid-template-rows: repeat(8,min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem)[col-end]) [center-end] 1fr [full-end];
    grid-row-gap: 3rem;
}

