@import './variables.scss';

.gallery{
    &__background{
        grid-column: full-start/full-end;
        background: linear-gradient(to bottom,#c54a2b,#fdbb2d);
        height: 50rem;
        margin-top: 15rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
       
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: $bp-phone-lr){
            margin-top: 5rem;
            height: 70rem;
          }
    }
    &__container{
        width: 90%;
        height: auto;
        position: relative;
        margin: auto;
        
    }

    &__photo{
        width: 90%;
        height: 100%;
        margin: auto;
        @media only screen and (max-width: $bp-phone-lr){
            width: 100%;
          }
    }
   

    //CONTENT

    &__content{
        background-color: rgba(255, 255, 255, 0.678);
        position: absolute;
        bottom: 1.2rem;
        left: 5%;
        width: 50%;
        height: 30%;
        padding: 1.5rem;
        transform: rotate(-1.4deg);
        margin-left: .2rem;
        transition: 1s;
        @media only screen and (max-width: $bp-phone-lr){
           height: 35%;
           width: 80%;
          }
    }

    &__sub-text{
        padding: 1rem;
        text-align: justify;
        text-transform: lowercase;
    }
    &__header{
        color: #e94a4a;
        font-size: 2rem;
    }
}

.each-slide{
    width: 90%;
    height: 50rem;
    margin: auto;
    z-index: 1;
}

.photo{
    &-1{
        background: url('../img/gallery-1.jpg') no-repeat center center/cover;
        
    }
    &-2{
        background: url('../img/gallery-2.jpg') no-repeat center center/cover;
        
    }
    &-3{
        background: url('../img/gallery-3.jpg') no-repeat center center/cover;

    }
}

.react-slideshow-container .nav{
    background: #fdbb2d;
    transition: .5s;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0;
    
    &:hover{
        background: #e94a4a;
        transform: scale(1.1); 
    }
    span{
        border-color: white;
    }
}
.react-slideshow-container + div.indicators{
    position: absolute;
    bottom: 7%;
    left: 60%;
    &  > div{
    width: 1rem;
    height: 1rem;
    background: #22c0c3e7;
    z-index: 2;

    &:hover{
        background: #fdbb2d;
    }
    
    &.active{
        background: #e94a4a;
    }
    @media only screen and (max-width: $bp-phone-lr){
       opacity: 0;
       }
    }
}