@import './variables.scss';


.menu{
    &__container{
        grid-column: center-start/center-end;
        display: grid;
        grid-template-rows: min-content repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        @media only screen and (max-width: $bp-phone-lr){
            grid-template-rows: repeat(3,min-content);
            grid-template-columns: auto;
          }
    }
    &__header{
        grid-row: 1 / 2;
        @media only screen and (max-width: $bp-phone-lr){
            grid-column: 1 / -1;
            text-align: center;
          }
        
    }
    &__text{
        grid-row: 2 / -1;
        //align-self: center;
        @media only screen and (max-width: $bp-phone-lr){
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            text-align: justify;
            padding: 2rem;
            
          }
    }
    &__button:hover a{
        color: white;
    }
    
    &__photo{
        &-container{
            grid-row: 2/-1;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2,18rem);
            @media only screen and (max-width: $bp-phone-lr){
                grid-row: 3 / 4;
                margin-top: 10rem;
                margin-left: -25rem;
                
              }
            
        }
        &-1{
            width: 200%;
            transform: rotate(90deg);
            //clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 0);
            ///border: 1rem solid $orange;
            grid-row: 1 / -1;
            grid-column: 1 / 2;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            @media only screen and (max-width: $bp-phone-lr){
                justify-self: center;
                grid-column: 2 / 4;
                width: 50%;
              }
            
        }
        &-2{
            width: 80%;
            //clip-path: polygon(50% 30%, 100% 30%, 100% 100%, 0 100%);
            //margin-top: -4.5rem;
            margin-left: 6rem;
            grid-row: 1 / -1;
            grid-column: 2 / 5;
            //border: 1rem solid $light-yellow;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            @media only screen and (max-width: $bp-phone-lr){
                width: 30%;
                justify-self: center;
                margin-left: 30rem;
              }
        }
    }
}