
//Sizes
$big-size: 2.5rem;
$m-size: 2rem;
$s-size: 1.8rem;
$xs-size: 1.3rem;

//Font colors
$color-grey-light-1: #faf9f9;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

//Colors
$dark-blue: #2d4059;
$light-red: #ea5455;
$orange: #f07b3f;
$light-yellow: #ffd460;

//size breakpoints

$bp-largest: 120em;
$bp-large: 75em;
$bp-tab-ls: 64em;
$bp-tab-pm: 45.25em;
$bp-phone-ls: 35.5em;
$bp-phone-pm: 20em;
$bp-phone-lr: 26.5625em;