@import '../../generalComponents/styles/variables.scss';


.form{
    width: 50rem;
    margin-left: 5rem;
    @media only screen and (max-width: $bp-phone-lr){
        margin-left: 0;
        margin-top: 3rem;
     }
    &__container{
        grid-column: center-start/center-end;
        margin-top: 3rem;
        display:flex;
        
        //align-content: flex-end;
        align-items: center;
        @media only screen and (max-width: $bp-phone-lr){
            flex-direction: column;
         }
    }
    &__text-container{
        width: 50rem;
        //padding: 3rem 0;
        //margin-right: 3rem;
    }
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-family: inherit;
        padding: 1.5rem 3rem;
        border: none;
        outline: none;
        outline: 2px solid $light-yellow;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: inline-block;
        
        
        &:focus{
            box-shadow: 0 1rem 2rem rgba(black, .1);
            border-bottom: 3px solid #22c0c3e7;
            outline: none;

        }
        &:focus:invalid{
            border-bottom: 3px solid $orange;
        }
    }
    &__span{
        text-align: center;
        width: 90%;
        padding: .5rem;
        display: inline-block;
    }
}

.textarea{
    height: 10rem;
}