@import '../../generalComponents/styles/variables.scss';

.photos{
    &__container{
        grid-column: full-start/full-end;
        margin-top: 6rem;
        display: grid;
        grid-template-rows: repeat(2, 50vh);
        grid-template-columns: repeat(3, minmax(min-content, 100vw));
        position: relative;
        @media only screen and (max-width: $bp-phone-lr){
            grid-template-rows: repeat(6,35vh);
            grid-template-columns: 100vw;
            justify-content: center;
            justify-items: center;
        }
       
    }
    &__box{
        display: flex;
        justify-content: center;
        background-color: $light-yellow;
        @media only screen and (max-width: $bp-phone-lr){
           width: 60%;
           height: 35vh;
        }
    }

    &__header{
        font-size: 4rem;
        color: white;
        margin: auto;
        z-index: 1;
        
        
    }
}

.image{
    &-1{
       background: url('./img/gallery-4.jpg') no-repeat center center/cover ;
    }
    &-2{
        background: url('./img/gallery-5.jpg') no-repeat center center/cover;
        
    }
    &-3{
        background: url('./img/gallery-6.jpg') no-repeat center center/cover;
        
    }
    &-4{
       
    }
    &-5{
        
    }
    &-6{
        
    }
}

.svg{
    width: 20rem;
   
    
}

.darken-pseudo{
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }