@import '../../generalComponents/styles/variables.scss';

.unlimited{
    &__container{
        grid-column: center-start/center-end;
        display: grid;
        grid-template-rows: min-content repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 2rem;
        margin-bottom: 3rem;
        @media only screen and (max-width: $bp-phone-lr){
            grid-template-rows: repeat(3,min-content);
            grid-template-columns: auto;
            grid-column-gap: 0;
          }
    }
    &__header{
        grid-column: 1 / -1;
        margin-bottom: 1rem;
        text-align: center;
        @media only screen and (max-width: $bp-phone-lr){
            grid-column: 1 / -1;
            width: 100%;
            padding: 2rem;
          }
    }
    &__text{
        grid-row: 2 / -1;
        @media only screen and (max-width: $bp-phone-lr){
            grid-row: 2 / 3;
            padding: 3rem;
            text-align: justify;
          }
    }
    &__photo{
        content: url('../img/pizza-streat-mandalyogn.jpg');
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / -1;
        @media only screen and (max-width: $bp-phone-lr){
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            width: 50%;
            justify-self: center;
          }
    }
}